@charset "UTF-8";
/* Configurações Gerais */

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    font-family: Arial, Helvetica, sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: whitesmoke;
    text-shadow: 2px 2px 0px #1d1d25;
    padding: 10px;
}