@charset 'UTF-8';

*{
    height
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FFFFFF, #E3C75F);

}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 13px #9466128e;
}

h1{
    color: #16232E;
    text-align: center;
    text-shadow: 1px 1px 2px  #0f171f9c;
}

h2{
 color: #164C45;
}

p{
    text-align: justify;
}